@CHARSET "ISO-8859-1";
body{
margin: 0px;
padding: 0px;
background: #eeeeee;
}

#holder{
position: absolute;
width: 510px;
}

#msg {
position: relative;
width: 300px;
height: auto;
background: #ffffff;
}

h1,h2,h3{
font-size: 14px;
margin: 0;
padding: 0;
}

div#messages{
width: 100%;
height: 160px;
overflow: auto;
background: #dddddd;
}

#messagesiframe{
display: none;
visibility: none;
}

p{
font-size: 12px;
font-family: Arial;
color: #000000;
line-height: 14px;
margin: 0;
padding: 0;
}

#post {
position: relative;
width: 200px;
height: auto;
background: #dddddd;
}

#post iframe{
height: 150px;
border: 0;
}

h3 {
line-height: 12px;
color: #cc0000;
}

.chatmsg{
	line-height: 12px;
	font-family: tahoma;
	font-size: 10px;
}